# Course Work Along
This notebook is being used to work alongside the team treehouse introduction to pandas course. Each section of the course also has it's own individual notebooks with the instructors work and notes.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
test_balance_data = {
    'pasan': 20.00,
    'treasure': 20.18,
    'ashley': 1.05,
    'craig': 42.42,
}

balances = pd.Series(test_balance_data)
balances

pasan       20.00
treasure    20.18
ashley       1.05
craig       42.42
dtype: float64

In [3]:
unlabeled_balances = pd.Series([20.00, 20.18, 1.05, 42.42])
unlabeled_balances

0    20.00
1    20.18
2     1.05
3    42.42
dtype: float64

In [4]:
labeled_balances = pd.Series(
    [20.00, 20.18, 1.05, 42.42],
    index=['pasan', 'treasure', 'ashley', 'craig']
)
labeled_balances

pasan       20.00
treasure    20.18
ashley       1.05
craig       42.42
dtype: float64

## Creating a Series
- Any iterable can be passed into a series including a np.arange
- the index arguement labels the items in your series
- A scalar can also be passed and will be set for all keys in the index

In [5]:
balances[0]

20.0

In [6]:
balances['pasan']

20.0

In [7]:
for label, value in balances.items():
    print("The user {} has a value of ${}".format(label, value))

The user pasan has a value of $20.0
The user treasure has a value of $20.18
The user ashley has a value of $1.05
The user craig has a value of $42.42

In [8]:
try:
    balances['kermit']
except KeyError as err:
    print('Accessing a non-existent key raise a `KeyError`.')

Accessing a non-existent key raise a `KeyError`.

## Retrieving Series Values
- You can pass in the label when calling the series to return the value associated with the label
- Finding no label give a KeyError, so use `get` to safely access keys. Will return none if not present
- Use `in` to test the existence of a label.

In [9]:
if balances.get('kermit') is None:
    print('Use `get` to safely access keys. `None` is returned if key not present.')
    
if 'kermit' not in balances:
    print('Use `in` to test the existence of a label.')

Use `get` to safely access keys. `None` is returned if key not present.
Use `in` to test the existence of a label.

In [10]:
# Dot notation also works!!
balances.ashley

1.05

In [11]:
# using loc and iloc is more specific however, so we know if we are using the position or the label
balances.loc['pasan']

20.0

In [12]:
balances.iloc[0]

20.0

### Slices also work!
But be careful: slices with positions and labels do not behave the same way. Positions are exclusive, while labels are inclusive of the last item... See below

In [13]:
balances.iloc[0:3]

pasan       20.00
treasure    20.18
ashley       1.05
dtype: float64

In [14]:
balances.loc['pasan':'ashley']

pasan       20.00
treasure    20.18
ashley       1.05
dtype: float64

In [15]:
test_deposit_data = {
    'pasan': 20,
    'treasure': 10,
    'ashley': 100,
    'craig': 55,   
}
deposits = pd.Series(test_deposit_data)
balances

pasan       20.00
treasure    20.18
ashley       1.05
craig       42.42
dtype: float64

In [16]:
balances += deposits
balances

pasan        40.00
treasure     30.18
ashley      101.05
craig        97.42
dtype: float64

In [17]:
coupons = pd.Series(1, ['craig', 'ashley', 'james'])

In [18]:
balances + coupons

ashley      102.05
craig        98.42
james          NaN
pasan          NaN
treasure       NaN
dtype: float64

## Series Vecotrization and Broadcasting
- You can broadcast with math functions just like with a np.arange
- when adding two vectors, however, you will get NaN for labels not present in both matricies.
    - Use the `fill_value` variable to override this behavior

In [19]:
balances.add(coupons, fill_value = 0)

ashley      102.05
craig        98.42
james         1.00
pasan        40.00
treasure     30.18
dtype: float64

## DataFrame objects 
- Pass in a 2D list, specify index and column names
- Object looks like a table in a spreadsheet... see below
- Alternatively, you can pass a dictionary instead of a list, and then specify the index values

In [20]:
test_users_list = [
    ['Craig', 'Dennis', 42.42],
    ['Treasure', 'Porth', 25.0]
]

pd.DataFrame(test_users_list, index=['craigsdennis', 'treasure'], columns=['first_name', 'last_name', 'balance'])

             first_name last_name  balance
craigsdennis      Craig    Dennis    42.42
treasure       Treasure     Porth    25.00

In [21]:
test_user_data = {
    'first_name': ['Craig', 'Treasure'],
    'last_name': ['Dennis', 'Porth'],
    'balance': [42.42, 25.00]
}

pd.DataFrame(test_user_data, index=['craigsdennis', 'treasure'])

             first_name last_name  balance
craigsdennis      Craig    Dennis    42.42
treasure       Treasure     Porth    25.00

In [22]:
#DataFrame.from_dict adds more options like the `orient` keyword.
by_username = {
    'craigsdennis': {
        'first_name': 'Craig',
        'last_name': 'Dennis',
        'balance': 42.42
    },
    'treasure': {
        'first_name': 'Treasure',
        'last_name': 'Porth',
        'balance': 25.00
    }
}

pd.DataFrame.from_dict(by_username, orient='index')

             first_name last_name  balance
craigsdennis      Craig    Dennis    42.42
treasure       Treasure     Porth    25.00

`orient` allows you to specify the shape of the object. `orient='columns'` would give an array with column names of craigsdennis and treasure. The indecies would be first_name, last_name, and balance

In [24]:
test_user_data = {
    'first_name': ['Craig', 'Treasure', 'Ashley', 'Guil'],
    'last_name': ['Dennis', 'Porth', 'Boucher', 'Hernandez'],
    'balance': [42.42, 25.00, 2.02, 87.00]
}

test_user_names = ['craigsdennis', 'treasure', 'lindsay2000', 'guil']

users = pd.DataFrame(test_user_data, index=test_user_names)
users

             first_name  last_name  balance
craigsdennis      Craig     Dennis    42.42
treasure       Treasure      Porth    25.00
lindsay2000      Ashley    Boucher     2.02
guil               Guil  Hernandez    87.00

In [25]:
# You can return a column which is actually just a Series
balances = users['balance']
balances

craigsdennis    42.42
treasure        25.00
lindsay2000      2.02
guil            87.00
Name: balance, dtype: float64

In [28]:
#loc and iloc also work just as you would expect them to...
craig = users.loc['craigsdennis']
treasure = users.iloc[1]
craig, treasure

(first_name     Craig
 last_name     Dennis
 balance        42.42
 Name: craigsdennis, dtype: object,
 first_name    Treasure
 last_name        Porth
 balance             25
 Name: treasure, dtype: object)

## Accessing a dataframe
- use a column name to return a Series with that column's data
- use loc or iloc to return one record
- chain column and label to return one single value

In [29]:
users['first_name']['lindsay2000']

'Ashley'

In [30]:
# you can do the label first if you use loc
users.loc['lindsay2000']['first_name']

'Ashley'

In [31]:
# The above can also be expressed with a tuple.
users.loc['lindsay2000', 'first_name']

'Ashley'

In [32]:
# The most explicit way is with the at property
users.at['lindsay2000', 'first_name']

'Ashley'

## Slicing
- loc and iloc also support slicing a DataFrame into a new one

In [33]:
users.loc[:, ['balance', 'last_name']]

              balance  last_name
craigsdennis    42.42     Dennis
treasure        25.00      Porth
lindsay2000      2.02    Boucher
guil            87.00  Hernandez

In [39]:
users.loc['lindsay2000'::-1, :]

             first_name last_name  balance
lindsay2000      Ashley   Boucher     2.02
treasure       Treasure     Porth    25.00
craigsdennis      Craig    Dennis    42.42

In [41]:
users.iloc[:3, 1]

craigsdennis     Dennis
treasure          Porth
lindsay2000     Boucher
Name: last_name, dtype: object