# Course Work Along
This notebook is being used to work alongside the team treehouse introduction to pandas course. Each section of the course also has it's own individual notebooks with the instructors work and notes.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
test_balance_data = {
    'pasan': 20.00,
    'treasure': 20.18,
    'ashley': 1.05,
    'craig': 42.42,
}

balances = pd.Series(test_balance_data)
balances

pasan       20.00
treasure    20.18
ashley       1.05
craig       42.42
dtype: float64

In [5]:
unlabeled_balances = pd.Series([20.00, 20.18, 1.05, 42.42])
unlabeled_balances

0    20.00
1    20.18
2     1.05
3    42.42
dtype: float64

In [7]:
labeled_balances = pd.Series(
    [20.00, 20.18, 1.05, 42.42],
    index=['pasan', 'treasure', 'ashley', 'craig']
)
labeled_balances

pasan       20.00
treasure    20.18
ashley       1.05
craig       42.42
dtype: float64

## Creating a Series
- Any iterable can be passed into a series including a np.arange
- the index arguement labels the items in your series
- A scalar can also be passed and will be set for all keys in the index